{:paths ["src"]
 :deps  {io.github.protojure/grpc-client {:mvn/version "2.8.1"}
         org.slf4j/slf4j-simple          {:mvn/version "2.0.11"}}
 :aliases 
 {:neil {:project {:name protoproblem/protoproblem}}}}
